#diagram_main {
  >* {
    margin-top: 10px;
    padding: 10px;
  }
  div {
    height: 400px;
    background-color: white;
  }

  /* Use this selector to override bar styles on bar charts. Bars are also strokes so you have maximum freedom in styling them. */
  .ct-chart .ct-bar {
    /* Colour of your bars */
    stroke: #00454b;
    /* The width of your bars */
    stroke-width: 20px;
  }

  .ct-chart .ct-slice-pie {
    /* fill of the pie slieces */
    // fill: hsl(120, 40%, 60%);
    /* give your pie slices some outline or separate them visually by using the background color here */
    stroke: white;
    /* outline width */
    stroke-width: 2px;
  }
}
