#animations_main {
  background-color: white;
  position: relative;
  article {
    position: relative;
    height: 400px;
    width: 220px;
    z-index: 0;
  }

  #info_div{
    
  }

  .cardDivs {
    background-color: white;
    height: 185px;
    width: 100%;
    position: absolute;
    padding: 0;
    margin-top: 20px;
    box-shadow: 1px 2px 4px;

    *{
        padding: 5px;
    }
  }

  #div2 {
    z-index: -1;
  }

  #cat_gif{
    position: absolute;
    right: 0;
    bottom: 0px;
    width: min(100px, 15vw);
    animation: catWalking 20s infinite linear;
  }
}

.animationShowACardQ {
  animation: showAnswerQ 3s;
  animation-fill-mode: forwards;
}

.animationShowACardA {
  animation: showAnswerA 3s;
  animation-fill-mode: forwards;
}

.animationShowQCardQ {
  animation: showQuestionQ 3s;
  animation-fill-mode: forwards;
}

.animationShowQCardA {
  animation: showQuestionA 3s;
  animation-fill-mode: forwards;
}

@keyframes catWalking {
  0% {
    opacity: 1;
    right: 0px;
  }
  95% {
    opacity: 1;
    right: min(75vw, 1300px);
  }
  96% {
    right: min(75vw, 1300px);
    opacity: 0;
  }
  100% {
    opacity: 0;
    right: 0px;
  }
}

@keyframes showAnswerQ {
  0% {
    left: 0px;
  }
  25% {
    left: min(25vw, 150px);
  }
  75% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    left: 0px;
  }
}

@keyframes showAnswerA {
  0% {
    left: 0px;
  }
  25% {
    left: max(-25vw, -150px);;
  }
  100% {
    left: 0px;
  }
}

@keyframes showQuestionQ {
  0% {
    z-index: -1;
    left: 0px;
  }
  25% {
    left: max(-25vw, -150px);;
  }
  75% {
    z-index: 0;
  }
  100% {
    z-index: 0;
    left: 0px;
  }
}

@keyframes showQuestionA {
  0% {
    left: 0px;
  }
  25% {
    left: min(25vw, 150px);;
  }
  100% {
    left: 0px;
  }
}

@media screen and (min-width: 701px)  {
    #animations_main {
        article {
            width: 300px;
        }
    }
    
}


