@use "sass:color";
@use "colours";


@mixin contentSection($w, $h, $r: 0) {
  width: $w;
  height: $h;
  border-radius: $r;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  margin: auto;

  header {
    display: flex;
    position: relative;
    height: 80px;
    width: 100%;

    #logo {
      height: 80px;
    }

    #menu_btn {
      position: absolute;
      right: 10px;
    }

    #pc_menu {
      visibility: hidden;
    }
  }

  #index_main {
    section {
      @include contentSection(100%, auto);
    }
  }

  footer{
    @include contentSection(100%, 60px)
  }
}

@media screen and (min-width: 601px) {

}

@media screen and (min-width: 1025px) {
  body {
    header {
      #menu_btn {
        visibility: hidden;
      }

      #pc_menu {
        visibility: visible;
        position: absolute;
        right: 10px;
        top: 30px;

        ul {
          list-style: none;
          display: flex;
          flex-direction: row;

          li {
            margin: 0 20px;
          }
        }
      }
    }
  }
}
